
body{
    line-height: 0.8;
}
a{
    text-decoration: none;
    color: black;
}
.nav-link{
    color: black;
}
li{
    list-style: none;
}
.f-15{
    font-size: 15px;
}
.f-18{
    font-size: 18px;
}
ul{
    height: 24px;
}
h3{
    font-size: 48px;
}
.height-105{
    height: 105px;
}
.navbar-brand{
    padding-bottom: 0;
    padding-top: 0;
    width: 86px;
    height: 28px;
}
.main-image-dim{
    padding-left: 0;
    padding-right: 0;
}
.container-fluid-dim{
    width: max-content;
}
.ms-105{
    margin-left: 105px;
}

.ms-250{
    margin-left: 260px;
}
.demo{
    width: 215px;
    background-color: #FF6645;
    border: none;
}
.dms{
    height: 6px;
    width: 12px;
    margin-left: 2px;
    color: black;
}
.arrow-dim{
    width: 16px;
    height: 12px;
}
.main-image{
    padding-bottom: 200px;
    position: relative;
}
.abstract-image{
    position: absolute;
    top: 475px;
    left: 325px;
    z-index: -1;
}
.para-dim{
    width: 490px;
    line-height: normal;
}
.button-border{
    background-color: #FF6645;
    border: none;
    border-radius: 10px;
    width: 206px;
}
.review-box-container{
    margin-top: 65px;
}
.review-box{
width: 144px;
height: 109px;
margin-right: 65px;
}
.center-logo{
    width:85px;
    height: 25px;
}
.tesconet-logo{
    width: 85px;
    height: 12px;
}

@media (min-width:768px) and (max-width:992px){
    .abstract-image {
        position: absolute;
        top: 475px;
        left: 430px;
        z-index: -1;
    }
}